#    |\__/,|   (`\
#  _.|o o  |_   ) )
#-(((---(((--------     Larcrist

#Dont go, pls
tests/a.out
src/a.out
src/main.c
src/main
tests/oldsMains

#VSCODE extensions
.vscode/

#Ignore the Norma

